{{define "header"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>facemash</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/styles/style_mobile.css">
        <meta name="viewport" content="initial-scale=1" /> <!-- that's to prevent any problems -->
    </head>
    <nav>
        <ul>
            <li><a href="/" id="logo">Facemash</a></li>
            <li><a href="/ratings/">Rating</a></li>
            <li><a href="/admin/">{{if .IsAdmin}} Admin {{else}} Add Girl {{end}}</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
    </nav>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48006638 = new Ya.Metrika({
                        id:48006638,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/48006638" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{{end}}
