{{template "header" .}}

    <div class="wrapper">
        <div class="content" align="center">
            <div class="admin-wrapper">
                <div class="text">Add a new girl</div>
                <form method="POST" class="pure-form pure-form-stacked">
                    <fieldset>
                        <input name="form_id" value="add_girl" type="hidden">
                        <label for="remember">
                            <input type="url" name="url" placeholder="https://vk.com/id198210938">
                        </label>
                        <button type="submit">Add</button><br>
                    </fieldset>
                </form>
                {{if .IsAdmin}}
                <form action="/admin/" method="GET">
                    <input name="form_id" value="get_key" hidden="true">
                    <button type="submit">Get Invite Link</button> 
                    {{if .InviteKey.Value}}<a href="https://gymbank.site/keys/{{.InviteKey.Value}}">https://gymbank.site/keys/{{.InviteKey.Value}}</a>{{end}}
                </form>
                {{end}}
            </div>
        </div>
        <footer>
            <div class="text" target="_blank"><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</div>
        </footer>	  
    </div>
</html>
