{{template "header" .}}

    <div class="wrapper">
        <div class="content" align="center">
            <div class="edit-wrapper">
                <a href="https://vk.com/id{{.Girl.VKId}}">{{.Girl.Name}}</a><br>
                <img src="{{.Girl.GetRandomPhotoURL}}" alt="girl">
                <button name="delete" onclick="confirmDelete()" class="pure-button pure-button-primary">Delete</button><br>
                <form method="POST" class="pure-form pure-form-stacked">
                    <fieldset>
                        <input name="form_id" value="update" type="hidden">
                        <input name="id" value="{{.Girl.VKId}}" type="hidden">
                        <input type="url" placeholder="Paste in url to new photo">
                        <input type="submit" value="Save" class="pure-button pure-button-primary">
                    </fieldset>
                </form>
            </div>
        </div>
        <footer>
            <div class="text" target="_blank"><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</div>
        </footer>
    </div>
        
    <script>
        function redirectPost(url, data) {
            var form = document.createElement('form');
            document.body.appendChild(form);
            form.method = 'post';
            form.action = url;
            for (var name in data) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = name;
                input.value = data[name];
                form.appendChild(input);
            }
            form.submit();
        };

        function confirmDelete() {
            if (confirm("Are you sure you want to delete {{.Girl.Name}}")) {
                redirectPost("/edit/", {"id": "{{.Girl.VKId}}", "form_id": "delete"})
            }
        };
    </script>
</html>
