{{template "header" .}}

	<div class="wrapper">
		<div class="content">
			<div class="faq-wrapper">
				<div class="text">Куда я попал?</div>
				<p>Этот сайт - современная, инновационная, автоматизированная система для контроля рейтинга представителей прекрасного пола нашей любомой ГБОУ МГПГЛ №1505. Здесь Вы можете оценить девушку, которая вам нравится. Если же вы являетесь девушкой, то можете порадоваться Вашему высокому <a href="/ratings/">рейтингу</a>.</p>
				<div class="text">Как добавить новую даму?</div>
				<p>Вы можете отправить <a href="/admin/">запрос</a> на добавление человека.</p>
				<div class="text">Я не хочу участвовать в вашем проекте!</div>
				<p>Если не хотите участвовать в нашем проекте, можете отправить <a href="https://vk.com/gymmash">администору</a> на удаление записей о Вас из нашей базы данных. Ваша заявка будет рассмотрена в течение дня и записи будут стёрты.</p>
				<div class="text">У меня есть вопросы к администрации/Я нашел баг!</div class="text">
				<p>В таком случае можете написать <a href="https://vk.com/gymmash">администратору</a>.<br>Заявки будут рассмотрены в течение дня.</p>
				<div class="text">Я ваш преданный фанат и хочу помочь финансово проекту!</div>
				<p>Webmony:<br>
				Qiwi:<br>
				Яндекс деньги:<br></p> 
				<div class="text">Вы украли идею у Цукерберга!</div>
				<p>Мы не видим в этом абсолютно никаких проблем.</p>
				<div class="text">Внимание!</div>
				<p>Данный сайт имеет лишь развлекательный характер. Он <strong>не</strong> призывает к дискриманции какой-либо социальной группы по какому-либо признаку. Он также <strong>не</strong> несёт цели оскорбить кого-либо</p>
				<p>Вся информация о каком-либо человеке на этом сайте была взата из <strong>открытых источников</strong>, куда эту информацию поместил сам человек по своему желанию. </p>
			</div>
		</div>
		<footer>
			<div class="text" target="_blank"><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</div>
		</footer>	
	</div>
</html>
