{{template "header" .}}
    <div class="wrapper">
        {{$left  := index .Girls 0}}
        {{$right := index .Girls 1}}
        <div class="content" align="center">
            <div class="choose">Choose the best!</div>
            <div class="girl-wrapper">
                <div class="girl">
                    {{if .IsAdmin}} 
                        <a href="/edit/?id={{$left.VKId}}" id="portrait">{{$left.Name}}</a>
                    {{else}}
                        <a href="https://vk.com/id{{$left.VKId}}" id="portrait" target="_blank">{{$left.Name}}</a>
                    {{end}}
                    <form action="/?id={{$left.VKId}}" method="post">
                        <input type="image" src="{{$left.GetRandomPhotoURL}}">
                    </form>
                    {{if .IsAdmin}} 
                        <a href="/edit/?id={{$left.VKId}}" id="landscape">{{$left.Name}}</a>
                    {{else}}
                        <a href="https://vk.com/id{{$left.VKId}}" id="landscape" target="_blank">{{$left.Name}}</a>
                    {{end}}
                </div>
                <span><img src="static/pic/vs.png" alt="vs"></span>
                <div class="girl">
                    <form action="/?id={{$right.VKId}}" method="post">
                        <input type="image" src="{{$right.GetRandomPhotoURL}}">
                    </form>
                    {{if .IsAdmin}} 
                        <a href="/edit/?id={{$right.VKId}}" id="right_name">{{$right.Name}}</a>
                    {{else}}
                        <a href="https://vk.com/id{{$right.VKId}}" id="right_name" target="_blank">{{$right.Name}}</a>
                    {{end}}
                </div>
            </div>
        </div> 
        <footer>
			<div class="text" target="_blank"><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</div>
		</footer>	
    </div>
</html>
