{{template "header" .}}

	<div class="wrapper">
		<div class="content">
			<table class="rating-wrapper">
				<tbody>
					{{range $i, $gl := .Girls}}
						<tr>
							<td id="number">{{Add $i 1}}</td>
							{{if eq $i 0}}
								<td><a href="https://vk.com/id{{$gl.VKId}}" id="top">{{$gl.Name}}</a></td>
							{{else}}
							{{if eq $i 1}}
								<td><a href="https://vk.com/id{{$gl.VKId}}" id="top">{{$gl.Name}}</a></td>
							{{else}}
							{{if eq $i 2}}
								<td><a href="https://vk.com/id{{$gl.VKId}}" id="top">{{$gl.Name}}</a></td>
							{{else}}
								<td><a href="https://vk.com/id{{$gl.VKId}}">{{$gl.Name}}</a></td>
							{{end}}
							{{end}}
							{{end}}
							<td id="score">{{$gl.Wins}}</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		</div>
		<footer>
			<div class="text" target="_blank"><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</div>
		</footer>	
	</div>
</html>
