{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>facemash</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style_desktop.css">
    <script src="../static/scripts/script.js"></script>
</head>
<div class="header">
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading" id=logo href="/">FACEMASH</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/ratings/" class="pure-menu-link">Rating</a></li>
            <li class="pure-menu-item"><a href="/admin/" class="pure-menu-link">{{if .IsAdmin}} Admin {{else}} Add Girl {{end}}</a></li>
            <li class="pure-menu-item"><a href="/faq/" class="pure-menu-link">FAQ</a></li>
        </ul>
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter48006638 = new Ya.Metrika({
                    id:48006638,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48006638" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 163046885, {expanded: "1",disableExpandChatSound: "1",tooltipButtonText: "Есть вопрос?"});
</script>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>

<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 163046885, {tooltipButtonText: "Есть вопрос?"});
</script>
</html>
{{end}}