{{template "header" .}}

<body>
    <div class="container">
        <h1>Add a new girl</h1>
        <div class="pure-g">
            <div class="pure-u-1-2">        
                <form method="POST" class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Send a request to add a new girl</legend>
                        <input name="form_id" value="add_girl" type="hidden">
                        <label for="remember">
                        <input type="url" name="url" class="pure-input-2-3" placeholder="https://vk.com/id198210938"> Add girl
                        </label>
                        <button type="submit" class="pure-button pure-button-primary">Add</button>
                    </fieldset>
                </form>
                <br>
                {{if .IsAdmin}}
                    <form action="/admin/" method="GET">
                        <input name="form_id" value="get_key" hidden="true">

                        <button type="submit">Get Invite Link</button> 
                        {{if .InviteKey.Value}}<a href="https://gymbank.site/keys/{{.InviteKey.Value}}">https://gymbank.site/keys/{{.InviteKey.Value}}</a>{{end}}
                    </form>
                {{end}}
            </div>
            <div class="pure-u-1-2"><p></p></div>
        </div>
    </div>
    <footer>
        <h2><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</h2>
    </footer>
</body>
