{{template "header" .}}

<body>
    <div class="container">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <a class="name" href="https://vk.com/id{{.Girl.VKId}}">{{.Girl.Name}}</a> 
                <button name="delete" onclick="confirmDelete()" class="pure-button pure-button-error">Delete</button><br>
                <form method="POST" class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Update photo</legend>
                        <input name="form_id" value="update" type="hidden">
                        <input name="id" value="{{.Girl.VKId}}" type="hidden">
                        <input type="text" name="photo_url" value="{{.Girl.GetRandomPhotoURL}}">
                        <input type="submit" value="save" class="pure-button pure-button-primary">
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1-2">
                <img src="{{.Girl.GetRandomPhotoURL}}" alt="girl">
            </div>
        </div>
    </div>

    <footer>
        <h2><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</h2>
    </footer>
<script>
    function redirectPost(url, data) {
    var form = document.createElement('form');
    document.body.appendChild(form);
    form.method = 'post';
    form.action = url;
    for (var name in data) {
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = name;
        input.value = data[name];
        form.appendChild(input);
    }
    form.submit();
}

function confirmDelete() {
    if (confirm("Are you sure you want to delete {{.Girl.Name}}")) {
        redirectPost("/edit/", {"id": "{{.Girl.VKId}}", "form_id": "delete"})
    }
};
</script>
</body>
