{{template "header" .}}
<body>
	<div class="container">
		<div class="about-wrapper">
			<div id="header">
				<div align="center">
					<h1 id="brandlogo">facemash</h1>
					<h2>A new era of rating a girl</h2>
				</div>
				<div class="arrow-wrapper">
					<span>Learn more</span>
					<a href="#faq" onclick="smartScroll()" id="arrow-link">
						<img src="../static/pic/arrow.png" alt="arrow" class="arrow"></a>
				</div>
			</div>
				<div class="faq-wrapper">
					<a name="faq"><h1>Куда я попал?</h1></a>
					<p>Этот сайт - современная, инновационная, автоматизированная система для контроля рейтинга представителей прекрасного пола нашей любомой ГБОУ МГПГЛ №1505. Здесь Вы можете оценить девушку, которая вам нравится. Если же вы являетесь девушкой, то можете порадоваться Вашему высокому <a class="link" href="/ratings/">рейтингу</a>.</p>
					<h1>Как добавить новую даму?</h1>
					<p>Вы можете отправить <a href="/admin/" class="link">Запрос</a> на добавление человека.</p>
					<h1>Я не хочу участвовать в вашем проекте!</h1>
					<p>Если не хотите участвовать в нашем проекте, можете отправить <a href="https://vk.com/gymmash" class="link">администору</a> на удаление записей о Вас из нашей базы данных. Ваша заявка будет рассмотрена в течение дня и записи будут стёрты.</p>
					<h1>У меня есть вопросы к администрации/Я нашел баг!</h1>
					<p>В таком случае можете написать <a href="https://vk.com/gymmash" class="link">администратору</a>.Заявки будут рассмотрены в течение дня.</p>
					<h1>Я ваш преданный фанат и хочу помочь финансово проекту!</h1>
					Webmony:<br>
        			Qiwi:<br>
        			Яндекс деньги:<br> 
        			<h1>Вы украли идею у Цукерберга!</h1>
        			<p>Мы не видим в этом абсолютно никаких проблем.</p>
					<h1>Внимание!</h1>
					<p>Данный сайт имеет лишь развлекательный характер. Он <strong>не</strong> призывает к дискриманции какой-либо социальной группы по какому-либо признаку. Он также <strong>не</strong> несёт цели оскорбить кого-либо</p>
					<p>Вся информация о каком-либо человеке на этом сайте была взата из <strong>открытых источников</strong>, куда эту информацию поместил сам человек по своему желанию. </p>
					<footer>
						<h2><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</h2>
					</footer>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</body>