{{template "header" .}}
<body>
    <div class="container">
        <h3>Часто задаваемые вопросы:</h3>

        <h4>Я нашел баг, куда репортить?</h4>
        Никуда, скорее всего баг нашли до вас. Скорее всего о нем узнали во время написания кода. Скорее всего всем было похуй.
        
        <h4>Я хотела бы чтобы меня убрали с этого сайта.</h4>
        Посмотрите на свой <a href="/ratings/">рейтинг</a>, все еще хотите чтобы вас убрали? Ну ладно, тогда пишите <a href="https://vk.com/id0">сюда</a>.

        <h4>Дизайн говно.</h4>
        Посмотри на себя. Потом на этот дизайн. Потом опять на себя. Потом опять на этот изумительный дизайн...
        Лучше бы реферат писал.
        
        <h4>Как дать в рыло автору?</h4>
        Посмотрите на <a>этого</a> красавца, все еще хотите дать ему в рыло? Ну ладно, пишите на почту denismazur8@gmail.com. Каждая претензия будет рассмотрена в индивидуальном порядке.

        <h4>Куда кидать деньги на поддержание проекта/лечение автора?</h4>
        Webmony:<br>
        Qiwi:<br>
        Яндекс деньги:<br> 

        <h4>Вы спиздили идею у Цукерберга!</h4>
        Ну и что?

    </div>
</body>
