{{template "header" .}}

<body>
    {{$left  := index .Girls 0}}
    {{$right := index .Girls 1}}
    <div class="container">

        <div class="pure-g">
            <div class="pure-u-1-1"><h1 align="center" class="head">Choose the best!</h1></div>
        </div>

        <div class="aligned">

            <div class="photo-wrapper" align="center"> 
                <form action="/?id={{$left.VKId}}" method="post">
                    <button type="submit">
                        <img class="photo" src="{{$left.GetRandomPhotoURL}}" alt="left_girl" id="left_girl">
                    </button>
                </form>
                <a href="https://vk.com/id{{$left.VKId}}" class="name" target="_blank">{{$left.Name}}</a>
                
                {{if .IsAdmin}}
                <div class="edit">
                    <a href="/edit/?id={{$left.VKId}}">Edit</a> 
                </div>
                {{end}}
            </div>

            <div class="vs-wrapper" align="center">
                <img  src="static/pic/vs.png" id="vs" alt="vs" align="center">
            <a href="/" class="name" id="none_girl">None of them</a>
            </div>

            <div class="photo-wrapper" align="center">
                <form action="/?id={{$right.VKId}}" method="post">
                    <button type="submit">
                        <img class="photo" src="{{$right.GetRandomPhotoURL}}" alt="left_girl" id="right_girl">
                    </button>
                </form>
                <a href="https://vk.com/id{{$right.VKId}}" class="name" target="_blank">{{$right.Name}}</a>

                {{if .IsAdmin}}
                <div class="edit">
                    <a href="/edit/?id={{$right.VKId}}">Edit</a>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    <footer>
        <h2><a href="https://vk.com/gymmash">Facemash</a> Все права не защищены.</h2>
    </footer>
<script src="../static/scripts/buttons.js"></script>
</body>
