
html,
body {
  height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	
}

.container {
	padding: 0mm 15mm 0mm 15mm;
	flex: 1 0 auto;
}

.photo-wrapper {
	width: 40vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.photo-wrapper img {
	max-width: 100%;
	max-height: 65vh;
	margin-bottom: 10pt;
}
.photo-wrapper button{
	color: white;
	border: 0px;
	background-color: white;
}
.vs-wrapper{
	width: 20vw;
	/*height: 100%;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vs-wrapper img	{
	max-width: 100%;
	margin-bottom: 10pt;
}

.aligned{
	display: flex;
	align-items: center;
}

@font-face {
  font-family: 'mortal';
  src: url('../fonts/MK4.TTF');
}
.name {
	 text-decoration: none;
	 color: dodgerblue;
	 font-size: 20px;
}
.head {
	margin-bottom: 1cm;
}
#logo{
	font-size: 25px;
	font-family: 'mortal', 'Georgia', serif;
}

.wrapper {
	height: 50px;
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}
.wrapper a {
	text-decoration: none;
	color: dodgerblue;
}

.wrapper span {
	margin-left: 20px;
}


.edit {
	margin: 5px;
}

.edit a {
	background-color: orange;
    color: white;
	padding: 10px 25px;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	/*border-radius: 50%*/
}
.about-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.about-wrapper #brandlogo {
	font-size: 150px;
	font-weight: normal;
	margin-bottom: 0;
	font-family: 'mortal', 'Georgia', serif;
}
.about-wrapper h2{
	font-size: 35px;
	font-weight: 300;
    color: #888;
}
.arrow-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 45px;
}
.arrow-wrapper span{
	/*color: #888;*/
	font-size: 20px;
	margin-bottom: 3px;
}
.arrow {
	width: 130px;
}

.faq-wrapper {
	display: none;
	margin: 0 120px;
}
.faq-wrapper .link{
	text-decoration: none;
	color: dodgerblue;
}
.faq-wrapper h1 {
	margin-top: 35px;
	font-size: 27px;
}
.faq-wrapper p {
	margin-bottom: 15px;
	font-size: 16px;
}
footer {
	border-top: 1px solid lightgrey;
	flex: 0 0 auto;
	height: 50px;
}
footer h2, footer a {
	margin-left: 5px;
	font-size: 20px !important;
	font-weight: 300;
    color: #888;
}

