/* ------------------------------------ Common ------------------------------------ */

@font-face {
	font-family: mortal;
	src: url(../fonts/MK4.TTF);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;   
}

html, body {
    height: 100vh;
}

.wrapper {
    min-height: 100vh;
    position: relative; 
}

.content {
    padding-bottom: 30px; /* that's for footer */
}

/* ------------------------------------ Layout(navbar) ------------------------------------ */

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh 0;
    border-bottom: 1px solid black;
}

nav ul li {
    font-size: 1em;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li #logo {
    font-weight: 900;
    font-family: mortal;
}

/* ------------------------------------ Footer ------------------------------------ */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: 1px solid lightgray;
}

footer .text {    
    color: rgb(153, 151, 151);
    font-weight: normal;
    font-size: 0.8em;
    padding-left: 0.2em;
}

footer .text a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* ------------------------------------ Index ------------------------------------ */

.girl-wrapper a {
    text-decoration: none;
    color: dodgerblue;
    font-variant: small-caps;
    font-size: 10px;
}

.girl-wrapper span img {
    max-width: 15vh;
    height: auto;
}

.girl-wrapper {
    margin-top: 4vh;
}

.choose {
    margin-top: 1em;
    margin-bottom: -1em;
    font-size: 1em;
}

@media (orientation:portrait) {

    .girl:first-child {
        max-height: 100vh;
    }

    .girl input {
        max-width: 90vw;
        max-height: 27vh;
        width: auto;
        height: auto;
    }

    .girl-wrapper #landscape {
        display: none;
    }

    .girl-wrapper span img {
        max-height: 15vh;
        height: auto;
    }
}

@media (orientation:landscape) {

    .girl:first-child {
        max-width: 100vw;
    }

    .girl-wrapper {
        display: flex;
        justify-content: space-around;
        height: 80vh;
        align-items: center;
    }

    .girl input {
        max-width: 40vw;
        max-height: 50vh;
        width: auto;
        height: auto;
    }

    .girl-wrapper #portrait {
        display: none;
    }

    .girl-wrapper span img {
        max-width: 15vw;
        height: auto;
    }
}

/* ------------------------------------ Rating ------------------------------------ */

.rating-wrapper {
	display: table;
	width: 100vw;
    text-align: left;   
}

.rating-wrapper #top {
	color: rgb(250, 61, 61);
}

.rating-wrapper tr {
    font-size: 0.8em;
    border-bottom: 1px solid lightgray;
    font-variant: small-caps;
}

.rating-wrapper tr:last-child {
    border: none;
}

.rating-wrapper #number, .rating-wrapper #score {
	color: #26262b;
}

.rating-wrapper td {
    padding: 2vw 0 2vw 2vw;
}

.rating-wrapper a {
    text-decoration: none;
    color: dodgerblue;
}

/* ------------------------------------ Admin(editing girls) ------------------------------------ */

.admin-wrapper .text {
    margin-top: 1em;
}

.admin-wrapper input {
    display: block;
	width: 100%;
	border: 1px solid #bbb;
    font-size: 1em;
}

.admin-wrapper button {
    display: block;
    font-size: 1em;
    width: 100%;
	background: white;
    border: 1px solid #bbb;
}

.admin-wrapper a {
	text-decoration: none;
	color: dodgerblue;
	font-size: 0.6em;
}

/* ------------------------------------ FAQ ------------------------------------ */

.faq-wrapper .text {
	text-align: center;
    font-size: 20px;
    margin: 2vh 0.5vh;
}

.faq-wrapper p {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 0.9em;
    margin: 0 3vw;
    padding-bottom: 30px;
}

.faq-wrapper a {
    text-decoration: none;
    color: dodgerblue;
}

/* ------------------------------------ Edit ------------------------------------ */

.edit-wrapper {
    margin-top: 1em;
}

.edit-wrapper a {
    display: block;
	font-size: 1.5em;
    text-decoration: none;
    color: dodgerblue;
}

.edit-wrapper img {
    display: block;
	max-width: 80vw;
	max-height: 50vh;
	width: auto;
	height: auto;
}

.edit-wrapper input, .edit-wrapper button {
    margin: 1em 0;
    display: block;
	font-size: 1em;
}

.edit-wrapper input[type=url] { 
	width: 100%;
	height: 6vh;
	border: 1px solid #bbb;
}
